::-webkit-scrollbar {
    width: 10px;
  
}

::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #2E66D2, #5580D3,#97B9FA,#537ac9);
}
::-webkit-scrollbar-thumb {
    background: rgb(128, 124, 124);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 144, 144);
}