@font-face {
    font-family: 'Raleway';
    src: url(Raleway-ExtraLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 10px;
    font-family: Raleway;
}

/* Navbar*/


.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 2;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    margin-top: -2px;
}

.nav div.logo a {
    text-decoration: none;
    color: rgb(247, 234, 234);
    font-size: 2rem;
    transition: 1s;
}

.nav div.logo a:hover {
    color: #5580D3;
    transition: 1s;
}

.nav div.links {
    height: 65px;
    float: right;
    transition: 1s;
}

.nav div.links ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.links ul li {
    width: auto;
    height: 65px;   
    padding: 0;
    padding-right: 2rem;
}

.nav div.links ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2rem;
    transition: 1s;
}

.nav div.links ul li a:hover {
    color:#5580D3 ;
    transition: 1s;
}
.navAni {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Fundo animado */

.fundo-animado{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #2E66D2, #5580D3,#97B9FA,#537ac9);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}
@keyframes colors {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}



/* * Media screen NAV*  */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
       
    }
}

@media screen and (max-width:912px) {
    .navAni {
        display: block;
    }
    .nav div.logo {
        margin-left: 1px;
        
    }
    .nav div.links {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.links ul {
        flex-direction: column;
        width: 100%;
        height: 30%;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.753);
        background-position: center top;
    }
    .nav div.links ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.links ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
        z-index: 2;
    }
    .nav div.media_button {
        display: block;
        z-index: 2;
    }
}

/* Animaçao NAV */

.navAni {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;   
}

.navAni i {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
.navAni i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navAni i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navAni i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navAni.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navAni.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navAni.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background: linear-gradient(45deg, #2E66D2, #5580D3,#97B9FA,#537ac9);
    background-size: 300% 300%;
    animation: colors 10s ease infinite
}

/* Padroes de textos */

.H2 {
    text-align:center;
    font-size: 4rem;
    color:#97B9FA; 
  }
.P{
    text-align: justify;
    padding-left:10%;
    padding-right:10%;
    font-size: 1.5rem;
}
.H1{
    margin:0;
    z-index: 1;
    color:#ffffff;
    text-align: left;
    top: 25%;
    position: relative;
    font-size: 5rem;
    padding-left: 15%;
    padding-right: 45%;
}
.P2{
    margin:0;
    z-index: 1;
    color: white;
    text-align: left;
    top: 28%;
    position: relative;
    font-size: 2.5rem;
    padding-left: 15%;
    padding-right: 35%;
}

/* media screen de textos padroes */
@media screen and (max-width:395px){
  .P {
    padding:2%;
  }
  .h1{
      padding: 2%;
  }
  .H1{
    font-size: 2.5rem;
    top: 15%;
    padding-left: 15%;
    padding-right: 5%;
  }
  .P2{
    font-size: 1.4rem;
    top: 17%;
    padding-left: 15%;
    padding-right: 5%;
  }
}
@media screen and (min-width:396px) and (max-width:540px){
    .P {
      padding:2%;
    }
    .h1{
        padding: 2%;
    }
    .H1{
      font-size: 2.5rem;
      top: 15%;
      padding-left: 15%;
      padding-right: 5%;
    }
    .P2{
      font-size: 1.7rem;
      top: 17%;
      padding-left: 15%;
      padding-right: 5%;
    }
  }


@media screen and (min-width:541px) and (max-width:749px){
    .P {
        padding:2%;
      }
      .h1{
          padding: 2%;
      }
      .H1{
        font-size: 2.5rem;
        top: 15%;
        padding-left: 15%;
        padding-right: 5%;
      }
      .P2{
        font-size: 2rem;
        top: 17%;
        padding-left: 15%;
        padding-right: 10%;
      }
}

@media screen and (min-width:750px) and (max-width:1300px){
    .P {
      padding-left: 10%;
      padding-right: 10%;
    }
    .h1{
        padding: 2%;
    }
    .H1{
      font-size: 4rem;
      top: 20%;
      padding-left: 15%;
      padding-right: 20%;
    }
    .P2{
      font-size: 2rem;
      top: 23%;
      padding-left: 15%;
      padding-right: 25%;
    }
}
  

@media screen and (min-width: 1360px) and (max-width:1500px){
    .fundo-animado h1{
        font-size: 4rem;
        top: 20%;
        
    }
    .fundo-animado p{
        font-size: 1.7rem;
        top: 22%;
    }
}


/* CARDS */

.cards{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.cards p{
    font-size: 20px;
}
.card-um{
    width: 23%;
    height: 24%;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}
.card-um img{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 2px solid #97B9FA;
    padding: 5px;
    margin-top: 10px;
    border-radius: 50%;
}
.card-dois{
    width: 23%;
    height: 24%;
    display: inline-block;
    text-align: center;
}
.card-dois img{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 2px solid #97B9FA;
    padding: 5px;
    margin-top: 10px;
    border-radius: 50%;
}

.card-tres{
    width: 23%;
    height: 24%;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}
.card-tres img{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 2px solid #97B9FA;
    padding: 5px;
    margin-top: 10px;
    border-radius: 50%;
}


/* FOOTER */


.footer{
    background: linear-gradient(45deg, #2E66D2, #5580D3,#97B9FA,#537ac9);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.redes{
    display: flex;

}

.redes img{
    width: 50px;
    height: 50px;
    margin-top: 29%;
    cursor: pointer;
    transition: 0.2s;
    padding: 3px;
}

.redes img:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.1);
}
.comunicaçao p{
    font-size: 17px;
    color: white;
    padding: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.navegaçao{
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}
.navegaçao a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin-top: 3px;
    transition: 0.2s;
}

.navegaçao a:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.1);
}

/* media screen dos cards e do footer*/

@media screen and (max-width:700px){
    .H1-dois{
        margin-top: -70%;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card-tres{
        width: 40vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .card-dois{
        width: 40vh;
        margin-left: auto;
        margin-right: auto;
    }
    .card-um{
        width: 40vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .comunicaçao{
        margin-left: 60px;
    }
    .redes img{
        margin-bottom: auto;
        
    }
    .redes{
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (min-width:1100px) and (max-width:1280px){
    .H1-dois{
        margin-top: -10%;
    }
}

@media screen and (min-width:768px) and (max-width:1000px){
    .H1-dois{
        margin-top: -50%;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card-tres{
        width: 40vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .card-dois{
        width: 40vh;
        margin-left: auto;
        margin-right: auto;
    }
    .card-um{
        width: 40vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .redes img{
        margin-bottom: auto;
      }
}
 
