/* //PgUsuario*/
*{
    font-family: Raleway;
}
body{ 
    margin: 0;
    background: linear-gradient(45deg, #2E66D2, #5580D3,#97B9FA,#537ac9);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
    font-family: Raleway;
}
/* @keyframes colors {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
} */

@font-face {
    font-family: 'Raleway';
    src: url(Raleway-ExtraLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.PgUsuario{
    width: 900px;
    height: 1000px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.63);
    left: 50%;
    position: relative;
    transform: translate(-50%, 5%);
    box-sizing: border-box;
    padding: 68px 28px;
}
     
h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-align: center;
    font-size: 25px;
}
.A{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    transition: 1s;
    border: solid none;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 30px;
    transition: 1s;

}
a:hover{
    cursor: pointer;
}
    
.PgUsuario p {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}
    
.PgUsuario input{
    width: 100%;
    margin-bottom: 21px;
    text-align: center;
    margin-top: px;
}

.PgUsuario input[type="file"]{
    margin-left: 250px;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    width: 360px;
}

#imgUsuario{
    border-radius: 50%;
    border: none;
    width: 200px;
    height: 100%;
    display: block;
    margin: auto;   
    margin-top: 20px;
    margin-bottom: 20px;
}
    
.PgUsuario input[type ="email"], input[type="number"], input[type="text"],input[type="date"]{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#Comparacao{
    width: 90%;
    margin-left: 5.5%;
    margin-right: auto;
    margin-top: -30px;
    text-align: center;


}
#histData{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    text-align: center;

}
#histMed{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    text-align: center;

}
#histC{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    text-align: center;

}
    
a{
    text-decoration: none;
    font-size: 50px;
    line-height: 20px;
    color: #ffffff;
    transition: 0.2s;
    display: block;
    text-align: center;
    margin-top: 40px;
    
}

.PgUsuario button{
    width: 25%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 1s;
    font-size: 20px;
}
.PgUsuario button:hover{
    cursor: pointer;
    background: #4676d6;
    transition: 1s;
}
@media screen and (max-width:700px){
    .PgUsuario{
     transform: translate(-50%, 5%);
     width: 320px;
     height: 1000px;
    } 
    .PgUsuario button{
        width: 40%;

    }
    .PgUsuario input[type="file"]{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 200px;
    }
}
@media screen and (min-width:768px) and (max-width:1100px){
    .PgUsuario{
    transform: translate(-50%, 5%);
    width: 500px;
    height: 1000px;
    }
    .PgUsuario input[type="file"]{
        display: block;
        margin-left: 45px;
        margin-right: auto;
     }

}
@media screen  and (max-width:1400px) and (min-width:1200px){
    .PgUsuario{
        transform: translate(-50%, 5%);
    }    
}


/* PG USUARIO 2 */
.PgUsuario-dois{
    width: 900px;
    height: 470px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.63);
    left: 50%;
    margin-top: 40px;
    position: relative;
    transform: translate(-50%, 5%);
    box-sizing: border-box;
    padding: 68px 28px;
}
.escolha{
    width: 20%;
    height: 50px;
    margin-top: -19px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.escolha:hover{
    cursor: pointer;
    background: #4676d6;
    transition: 1s;
}
.PgUsuario-dois input{
    margin-left: 50%;
    margin-top: -52px;
    width: 300px;
    display: flex;
    height: 50px;
    font-size: 20px;
}

.PgUsuario-dois button{
    margin-left: 88%;
    margin-top: -50px;
    display: block;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: 1s;
}
.PgUsuario-dois button:hover{
    cursor: pointer;
    background: #4676d6;
    transition: 1s;
}
#input{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    text-align: center;
}
.PgUsuario-dois p {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

@media screen and (max-width:700px){
    .PgUsuario-dois{
        width: 320px;
        height: 660px;
    }
    .escolha{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #inputP{
        width: 70%;
        margin-top: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .PgUsuario-dois button{
       margin-top: 20px;
       display: block;
       margin-left: auto;
       margin-right: auto;

    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .PgUsuario-dois{
        width: 500px;
        height: 550px;
    }
    .escolha{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .PgUsuario-dois #inputP{
        margin-left: auto;
        margin-right: auto;
        display:flex;
        width: 65%;
        margin: 20px;
    }
    .PgUsuario-dois button{
        margin-left: 350px;
        margin-top: -68px;
    }
}


/* PgUsuario tres */

.PgUsuario-tres{
    width: 900px;
    height: 200px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.63);
    left: 50%;
    position: relative;
    transform: translate(-50%, 5%);
    box-sizing: border-box;
    padding: 68px 28px;
    margin-top: 30px;
}
.PgUsuario-tres #inputN{
    margin-top: -52px;
    width: 30%;
    display: flex;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
.PgUsuario-tres #inputM{
    margin-top: -53px;
    width: 30%;
    display: flex;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-left: 300px;
}
.PgUsuario-tres button{
    margin-left: 75%;
    margin-top: -50px;
    display: block;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: 1s;
    width: 200px;
    cursor: pointer;
}
.PgUsuario-tres button:hover{
    cursor: pointer;
    background: #4676d6;
    transition: 1s;
}
.PgUsuario-tres p{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
#input2{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    text-align: center;
}
.div{
    height: 5vh;
}
@media screen and (max-width:700px) {
    .PgUsuario-tres{
        width: 320px;
        height: 380px;
    }
    .PgUsuario-tres #inputN{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .PgUsuario-tres #inputM{
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .PgUsuario-tres button{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .PgUsuario-tres{
        width: 500px;
        height: 400px;
    }
    .PgUsuario-tres #inputN{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .PgUsuario-tres #inputM{
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .PgUsuario-tres button{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .PgUsuario-tres #input2{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}


